---
images:
  carousel: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
---


<x-main>
  <push name="head">
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
  </push>

  <div class="font-sans bg-slate-200">
    <div class="max-w-[600px] mx-auto">
      <header class="py-8 px-6 md:p-12 text-center">
        <a href="https://maizzle.com">
          <amp-img
            src="https://res.cloudinary.com/maizzle/image/upload/misc/maizzle.png"
            width="70"
            height="51"
            alt="Maizzle"
          />
        </a>
      </header>
      <section class="max-w-[600px] mb-8">
        <amp-carousel height="300" controls layout="flex-item" type="slides" class="py-4 bg-image bg-top bg-no-repeat bg-cover md:rounded">
          <div class="flex items-center">
            <div class="px-6 md:px-12 text-white">
              <h1 class="m-0 mb-4 text-4xl sm:leading-10">
                First slide
              </h1>

              <p class="mb-8 md:mb-12 text-lg leading-6">
                Consectetur esse cupidatat in aliqua pariatur anim pariatur dolor nisi.
                Adipisicing elit labore nisi ullamco qui sint cillum commodo nisi velit sunt dolore.
              </p>

              <a href="https://maizzle.com" class="inline-block bg-indigo-800 hover:bg-indigo-700 rounded font-semibold text-white leading-full py-4 px-6">
                Read more &rarr;
              </a>
            </div>
          </div>
          <div class="flex items-center">
            <div class="px-6 md:px-12 text-white">
              <h1 class="m-0 mb-4 text-4xl sm:leading-10">
                Second slide
              </h1>

              <p class="mb-8 md:mb-12 text-lg leading-6">
                Consectetur esse cupidatat in aliqua pariatur anim pariatur dolor nisi.
                Adipisicing elit labore nisi ullamco qui sint cillum commodo nisi velit sunt dolore.
              </p>

              <a href="https://maizzle.com" class="inline-block bg-indigo-800 hover:bg-indigo-700 rounded font-semibold text-white leading-full py-4 px-6">
                Read more &rarr;
              </a>
            </div>
          </div>
          <div class="flex items-center">
            <div class="px-6 md:px-12 text-white">
              <h1 class="m-0 mb-4 text-4xl sm:leading-10">
                Third slide
              </h1>

              <p class="mb-8 md:mb-12 text-lg leading-6">
                Consectetur esse cupidatat in aliqua pariatur anim pariatur dolor nisi.
                Adipisicing elit labore nisi ullamco qui sint cillum commodo nisi velit sunt dolore.
              </p>

              <a href="https://maizzle.com" class="inline-block bg-indigo-800 hover:bg-indigo-700 rounded font-semibold text-white leading-full py-4 px-6">
                Read more &rarr;
              </a>
            </div>
          </div>
        </amp-carousel>
      </section>
      <section class="px-6 mb-8">
        <article class="p-6 bg-white rounded">
          <span class="mb-1 text-sm text-slate-500">2 Feb, 2020</span>

          <h2 class="m-0 mb-6 text-2xl leading-6">
            Sit aliqua reprehenderit qui veniam culpa.
          </h2>

          <p class="m-0 mb-6 text-base text-slate-800">
            Ex consequat deserunt id cupidatat exercitation irure commodo.
            Dolor et est irure elit cupidatat laborum veniam amet eiusmod Lorem ex ea do aliqua.
            Ipsum Lorem nulla sit aliqua quis veniam magna...
          </p>

          <a href="https://maizzle.com" class="text-base text-blue-500 hover:text-blue-600">
            Read more &rarr;
          </a>
        </article>
      </section>
      <section class="flex flex-col md:flex-row px-6 mb-8 md:-mx-2">
        <article class="w-full md:w-1/2 md:px-2 mb-8 md:mb-0">
          <div class="p-6 bg-white rounded">
            <span class="mb-1 text-sm text-slate-500">3 Feb, 2020</span>

            <h2 class="m-0 mb-6 text-2xl leading-6">
              Do ullamco reprehenderit ut dolor.
            </h2>

            <p class="m-0 mb-6 text-base text-slate-800">
              Consectetur veniam ipsum ea sit est do voluptate laboris...
            </p>

            <a href="https://maizzle.com" class="text-base text-blue-500 hover:text-blue-600">
              Read more &rarr;
            </a>
          </div>
        </article>
        <article class="w-full md:w-1/2 md:px-2">
          <div class="p-6 bg-white rounded">
            <span class="mb-4 text-sm text-slate-500">4 Feb, 2020</span>

            <h2 class="m-0 mb-6 text-2xl leading-6">
              Sunt in do sunt officia nisi enim qui eiusmod.
            </h2>

            <p class="m-0 mb-6 text-base text-slate-800">
              Nulla officia mollit ipsum eiusmod excepteur ea...
            </p>

            <a href="https://maizzle.com" class="text-base text-blue-500 hover:text-blue-600">
              Read more &rarr;
            </a>
          </div>
        </article>
      </section>
      <section class="px-12 mb-16">
        <h3 class="m-0 mb-6 text-base font-semibold text-slate-500 uppercase">
          From the archives
        </h3>

        <ul class="list-none p-0">
          <li>
            <h4 class="m-0 mb-1 text-xl font-semibold">
              <a href="https://maizzle.com" class="text-blue-500 hover:text-blue-600">
                Lorem velit tempor qui
              </a>
            </h4>

            <p class="m-0 text-slate-500">
              Aliquip excepteur sint voluptate Lorem nisi deserunt consequat...
            </p>
          </li>
          <li class="h-px bg-slate-300 my-6"></li>
          <li>
            <h4 class="m-0 mb-1 text-xl font-semibold">
              <a href="https://maizzle.com" class="text-blue-500 hover:text-blue-600">
                Lorem velit tempor qui
              </a>
            </h4>

            <p class="m-0 text-slate-500">
              Aliquip excepteur sint voluptate Lorem nisi deserunt consequat...
            </p>
          </li>
        </ul>
      </section>
      <footer class="px-6 mb-12">
        <div class="px-6 py-4 bg-slate-300 rounded">
          <p class="m-0 text-sm text-slate-600">
            You are receiving this email because you signed up for Website Newsletter Weekly.
            You can <a href="https://maizzle.com" class="text-blue-500 hover:text-blue-600">unsubscribe</a> at any time.
          </p>
        </div>
      </footer>
    </div>
  </div>
</x-main>
