<!doctype html>
<html ⚡4email>
  <head>
    <meta charset="{{ page.charset || 'utf-8' }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <style amp4email-boilerplate>body{visibility:hidden;}</style>
    <style amp-custom>
      .amp-carousel-button {
        background-color: rgba(76, 81, 191, 0.75);
        cursor: pointer;
      }

      .bg-image {
        background-image:  url('{{ page.images.carousel }}');
      }

      {{{ page.css }}}
    </style>
    <stack name="head" />
  </head>
  <body class="m-0 p-0 w-full [word-break:break-word] [-webkit-font-smoothing:antialiased] {{ page.bodyClass || 'bg-slate-200' }}">
    <content />
  </body>
</html>
