<!doctype html>
<html ⚡4email>
<head>
  <meta charset="{{ page.charset || 'utf-8' }}">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <style amp4email-boilerplate>body{visibility:hidden;}</style>
  <if condition="page.googleFonts">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?{{{ page.googleFonts }}}&display=swap" rel="stylesheet" media="screen">
  </if>
  <if condition="page.css">
    <style amp-custom>
      .amp-carousel-button {
        background-color: rgba(76,81,191,0.75);
        cursor: pointer;
      }

      .bg-image {
        background-image:  url('{{ page.images.carousel }}');
      }

      {{{ page.css }}}
    </style>
  </if>
  <block name="head"></block>
</head>
<body class="{{ page.bodyClass || '' }}">
  <block name="template"></block>
</body>
</html>
